ul li {
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    }
#blue {
    background-color: #1a8cff;
    padding-right: 10px;
    padding-left: 10px;
    color: whitesmoke;
    height: 32px;
    font-weight: bold;
}
header {
  position: relative;
    text-align:right;
    margin-right: 20px;
}
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;        
    }
    .searchbox {
        display: block;
        margin-left: auto;
        margin-right: auto;        
        width: 400px;
    }
     .p {
         display: inline;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
      }
    .footer1 {
    text-align: left;
    position: relative;
    margin-inline-start: -50px;
    }
    .footer2 {
        text-align: right;
        position: relative;  
        text-align: right;
        margin-right: 20;
    }